body {
  font-family: 'Lato', sans-serif;
  margin: 0; }
  body a {
    text-decoration: none; }
    body a:hover {
      text-decoration: none; }
  body .clear:after {
    content: "";
    display: table;
    clear: both; }
  body .btn {
    border-radius: 0;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    opacity: 0.8;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    body .btn:hover {
      color: #fff;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      opacity: 1; }
    body .btn.red {
      background: #b65837; }
  body .container-fluid {
    margin: 0;
    padding: 0;
    width: 100%; }
    body .container-fluid.banner {
      background: url(../img/girl-on-cliff-banner.jpg) no-repeat center center;
      background-size: cover;
      height: 793px;
      position: relative; }
    body .container-fluid.about {
      background: url(../img/white-65.png);
      background: rgba(255, 255, 255, 0.65);
      bottom: 27px;
      height: 265px;
      position: absolute; }
      body .container-fluid.about .col-md-3 {
        padding: 0; }
        body .container-fluid.about .col-md-3.block-1 .header {
          background: url(../img/about-block-1-bg.png); }
        body .container-fluid.about .col-md-3.block-2 .header {
          background: url(../img/about-block-2-bg.png); }
        body .container-fluid.about .col-md-3.block-2 .inner .body {
          padding: 0.4em; }
          body .container-fluid.about .col-md-3.block-2 .inner .body .carousel-control, body .container-fluid.about .col-md-3.block-2 .inner .body .name-container {
            float: left; }
          body .container-fluid.about .col-md-3.block-2 .inner .body .carousel-control {
            font-size: 14px;
            margin-top: 0.375em;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            opacity: 1;
            position: static;
            width: auto; }
            body .container-fluid.about .col-md-3.block-2 .inner .body .carousel-control:hover {
              cursor: pointer; }
            body .container-fluid.about .col-md-3.block-2 .inner .body .carousel-control.left {
              border-top: 1em solid transparent;
              border-bottom: 1em solid transparent;
              border-right: 1em solid rgba(255, 255, 255, 0.6);
              margin-right: 2px; }
            body .container-fluid.about .col-md-3.block-2 .inner .body .carousel-control.right {
              border-top: 1em solid transparent;
              border-bottom: 1em solid transparent;
              border-left: 1em solid rgba(255, 255, 255, 0.6);
              margin-left: 2px; }
          body .container-fluid.about .col-md-3.block-2 .inner .body .name-container {
            background: rgba(255, 255, 255, 0.6);
            color: #191919;
            font-size: 1.14286em;
            height: 1.6875em;
            line-height: 1.6em;
            margin-top: 0.375em;
            margin-bottom: 0.64286em;
            text-align: center;
            width: 10.375em; }
        body .container-fluid.about .col-md-3.block-3 .header {
          background: url(../img/about-block-3-bg.png); }
        body .container-fluid.about .col-md-3.block-3 .inner .body p {
          margin-bottom: 1.2em; }
        body .container-fluid.about .col-md-3.block-4 .header {
          background: url(../img/about-block-4-bg.png); }
        body .container-fluid.about .col-md-3.block-4 .inner .body {
          padding: 0; }
          body .container-fluid.about .col-md-3.block-4 .inner .body .question-block {
            background: url(../img/white-40.png);
            background: rgba(255, 255, 255, 0.4);
            height: 90px;
            margin-top: 0.71429em;
            padding: 0.71429em;
            width: 100%; }
            body .container-fluid.about .col-md-3.block-4 .inner .body .question-block p {
              line-height: 1em;
              margin-bottom: 0.3em; }
        body .container-fluid.about .col-md-3 .inner {
          margin: 0 auto;
          width: 96%; }
          body .container-fluid.about .col-md-3 .inner .header {
            height: 4.14286em;
            margin-left: -1px;
            position: relative;
            top: -15px;
            width: 17.21429em;
            z-index: 1; }
            body .container-fluid.about .col-md-3 .inner .header h3 {
              -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
              box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
              color: #fff;
              font-size: 1.07143em;
              font-weight: 100;
              height: 3.86667em;
              line-height: 3.86667em;
              margin: 0 auto;
              text-align: center;
              width: 14.06667em; }
          body .container-fluid.about .col-md-3 .inner .body {
            background: url(../img/about-block-body-bg.png) repeat-x;
            height: 15.85714em;
            margin: 0 auto;
            padding: 0.71429em;
            position: relative;
            top: -15px;
            width: 15.07143em;
            z-index: 0; }
            body .container-fluid.about .col-md-3 .inner .body p {
              color: #191919;
              line-height: 1em;
              margin-bottom: 0.57143em; }
            body .container-fluid.about .col-md-3 .inner .body img {
              display: block;
              margin: 0 auto; }
    body .container-fluid.pregnancy-care {
      background: url(../img/pregnancy-care-bg.png);
      height: 300px; }
      body .container-fluid.pregnancy-care .container {
        height: 100%; }
        body .container-fluid.pregnancy-care .container h2, body .container-fluid.pregnancy-care .container h4 {
          color: #65838f;
          font-weight: 400;
          text-transform: uppercase; }
        body .container-fluid.pregnancy-care .container h2 {
          margin: 0; }
        body .container-fluid.pregnancy-care .container h4 {
          font-size: 1.14286em;
          margin: 0;
          -webkit-transition: margin 0.3s ease-in-out;
          transition: margin 0.3s ease-in-out; }
        body .container-fluid.pregnancy-care .container .container {
          margin: 0; }
          body .container-fluid.pregnancy-care .container .container#pregnancy-care {
            float: left;
            position: relative;
            width: 548px; }
            body .container-fluid.pregnancy-care .container .container#pregnancy-care h2 {
              position: absolute;
              top: 30px; }
            body .container-fluid.pregnancy-care .container .container#pregnancy-care .col-md-4 {
              background: rgba(184, 160, 117, 0);
              height: 100%;
              padding: 90px 0 0 0;
              position: relative;
              -webkit-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out;
              text-align: center;
              top: 0; }
              body .container-fluid.pregnancy-care .container .container#pregnancy-care .col-md-4:hover {
                background: rgba(184, 160, 117, 0.2);
                padding: 70px 0 0 0; }
                body .container-fluid.pregnancy-care .container .container#pregnancy-care .col-md-4:hover img {
                  cursor: pointer;
                  width: 163px; }
              body .container-fluid.pregnancy-care .container .container#pregnancy-care .col-md-4 img {
                height: auto;
                padding: 1em 0 0 0;
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                width: 155px; }
          body .container-fluid.pregnancy-care .container .container#annual-exam {
            float: left;
            background: rgba(184, 160, 117, 0);
            height: 100%;
            padding: 80px 0 0 0;
            position: relative;
            text-align: center;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            width: 252px; }
            body .container-fluid.pregnancy-care .container .container#annual-exam:hover {
              background: rgba(184, 160, 117, 0.2);
              padding: 69px 0 0 0; }
              body .container-fluid.pregnancy-care .container .container#annual-exam:hover img {
                cursor: pointer;
                width: 233px; }
            body .container-fluid.pregnancy-care .container .container#annual-exam img {
              height: auto;
              padding: 1em 0 0 0;
              -webkit-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out;
              width: 210px; }
          body .container-fluid.pregnancy-care .container .container#menopause {
            float: left;
            padding: 90px 0 0 0;
            text-align: center;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            width: 200px; }
            body .container-fluid.pregnancy-care .container .container#menopause:hover {
              background: rgba(184, 160, 117, 0.2);
              padding: 70px 0 0 0; }
              body .container-fluid.pregnancy-care .container .container#menopause:hover img {
                cursor: pointer;
                width: 185px; }
            body .container-fluid.pregnancy-care .container .container#menopause img {
              height: auto;
              padding: 1em 0 0 0;
              -webkit-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out;
              width: 155px; }
    body .container-fluid.our-promise {
      background: url(../img/our-promise-bg.png) #96825f repeat-y center top;
      -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
      height: 246px;
      padding: 29px 0 6px 0;
      position: relative; }
      body .container-fluid.our-promise .col-md-3 {
        width: 290px; }
        body .container-fluid.our-promise .col-md-3 img {
          border: 0.64286em solid #ccc6a5; }
      body .container-fluid.our-promise .col-md-9 {
        width: 710px; }
        body .container-fluid.our-promise .col-md-9 .col-md-12 {
          background: #eaeaea;
          border: 0.64286em solid #ccc6a5;
          color: #5b5b5b;
          height: 187px;
          padding: 1.07143em;
          width: 668px; }
          body .container-fluid.our-promise .col-md-9 .col-md-12 h2 {
            margin-top: 0;
            text-transform: uppercase; }
      body .container-fluid.our-promise .cutout {
        background: url(../img/our-promise-cutout.png);
        bottom: -4px;
        display: block;
        height: 19px;
        left: 50%;
        margin-left: -18px;
        position: absolute;
        width: 35px; }
    body .container-fluid.services {
      background: url(../img/services-bg.png);
      height: 348px; }
      body .container-fluid.services .container {
        height: 100%; }
        body .container-fluid.services .container .col-md-4 {
          height: 83.33333%;
          margin-top: 2em; }
          body .container-fluid.services .container .col-md-4 .circle {
            behavior: url(js/PIE.htc);
            background-color: #90a6ad;
            border: 1em solid #cbd6d9;
            border-radius: 100%;
            -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.225);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.225);
            background-image: -webkit-radial-gradient(circle, #a7b9be, #859da5);
            background-image: radial-gradient(circle, #a7b9be, #859da5);
            background-repeat: no-repeat;
            height: 100%;
            margin: 0 auto;
            padding: 44px 0;
            position: relative;
            width: 290px; }
            body .container-fluid.services .container .col-md-4 .circle h4 {
              color: #3c4d54;
              font-size: 1.14286em;
              font-weight: 500;
              margin-top: 0;
              text-align: center;
              text-transform: uppercase; }
            body .container-fluid.services .container .col-md-4 .circle p {
              color: #454545;
              font-size: 0.85714em;
              font-weight: 400;
              padding: 0 44px; }
            body .container-fluid.services .container .col-md-4 .circle .cutout {
              background: url(../img/services-cutout.png) no-repeat;
              bottom: -20px;
              display: block;
              height: 30px;
              left: 50%;
              margin-left: -30px;
              position: absolute;
              width: 61px; }
    body .container-fluid.footer {
      background: url(../img/footer-bg.png) #687260 repeat-y center top;
      height: 352px; }
      body .container-fluid.footer .container {
        height: 100%;
        padding: 1.42857em 0 2.35714em 0; }
        body .container-fluid.footer .container .footer-about h4 {
          color: #3c4d54;
          font-size: 1.14286em;
          font-weight: 500;
          margin: 1.1875em 0 0.5em 0;
          text-transform: uppercase; }
        body .container-fluid.footer .container .footer-about p {
          color: #5b5b5b;
          margin-bottom: 1.5em; }
        body .container-fluid.footer .container .footer-about .footer-subnav {
          margin: 0;
          overflow: hidden;
          padding: 0; }
          body .container-fluid.footer .container .footer-about .footer-subnav li {
            border-right: 1px solid #3c4d54;
            float: left;
            line-height: 1em;
            list-style: none;
            margin: 0;
            padding: 0; }
            body .container-fluid.footer .container .footer-about .footer-subnav li:first-child a {
              padding-left: 0; }
            body .container-fluid.footer .container .footer-about .footer-subnav li:last-child {
              border-right: none; }
            body .container-fluid.footer .container .footer-about .footer-subnav li a {
              color: #556562;
              padding: 0 0.5em 0 0.5em;
              -webkit-transition: color 0.3s ease-in-out;
              transition: color 0.3s ease-in-out; }
              body .container-fluid.footer .container .footer-about .footer-subnav li a:hover {
                color: #3c4d54; }
        body .container-fluid.footer .container .footer-nav-wrap {
          border-left: 1px solid #b8c5ad;
          margin-top: 3.07143em; }
          body .container-fluid.footer .container .footer-nav-wrap .footer-nav {
            margin: 0;
            overflow: hidden;
            padding: 0; }
            body .container-fluid.footer .container .footer-nav-wrap .footer-nav li {
              font-weight: 500;
              float: left;
              list-style: none;
              margin: 0 2em 0 0;
              padding: 0;
              text-transform: uppercase; }
              body .container-fluid.footer .container .footer-nav-wrap .footer-nav li a {
                background: url(../img/heart-list-item.png) no-repeat left center;
                color: #e1e7dc;
                display: block;
                margin-bottom: 1.5em;
                padding: 1.5em 0 1.5em 1em;
                -webkit-transition: color 0.3s ease-in-out;
                transition: color 0.3s ease-in-out; }
                body .container-fluid.footer .container .footer-nav-wrap .footer-nav li a:hover {
                  color: #fff; }
        body .container-fluid.footer .container .copyright {
          color: #7f8778;
          font-weight: 500;
          text-transform: uppercase; }
  body .container {
    margin: 0 auto;
    padding: 0; }
    body .container:after {
      content: "";
      display: table;
      clear: both; }
    body .container.phone {
      height: 53px;
      position: relative; }
      body .container.phone .phone-number {
        background: url(../img/phone-bg.png) no-repeat;
        color: #474849;
        display: inline-block;
        font-size: 1.64286em;
        font-weight: 300;
        height: 2.56522em;
        line-height: 1.91304em;
        padding: 0 0.82609em 0 0;
        position: absolute;
        right: 6.34783em;
        text-align: right;
        text-decoration: none;
        top: 0;
        width: 9.56522em;
        opacity: 0.8;
        -webkit-backface-visibility: hidden;
        zoom: 1;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        body .container.phone .phone-number:hover {
          opacity: 1; }
      body .container.phone .btn {
        height: 3.14286em;
        line-height: 3.14286em;
        padding: 0 1.07143em;
        position: absolute;
        right: 0;
        top: 0; }
    body .container.nav nav .logo {
      display: inline-block;
      float: left;
      font-weight: 500;
      font-size: 2em;
      margin: 0;
      text-transform: uppercase; }
      body .container.nav nav .logo a {
        background: url(../img/white-80.png);
        background: rgba(255, 255, 255, 0.8);
        color: #343434;
        display: block;
        height: 3.21429em;
        line-height: 3.21429em;
        text-align: center;
        width: 14.07143em;
        -webkit-transition: background 0.3s ease-in-out;
        transition: background 0.3s ease-in-out; }
        body .container.nav nav .logo a:hover {
          background: url(../img/white-95.png);
          background: rgba(255, 255, 255, 0.95); }
    body .container.nav nav ul {
      float: right;
      margin: 0;
      padding: 0; }
      body .container.nav nav ul li {
        float: left;
        list-style: none;
        margin: 0 0 0 2px;
        padding: 0;
        text-transform: uppercase; }
        body .container.nav nav ul li a {
          background: url(../img/white-80.png);
          background: rgba(255, 255, 255, 0.8);
          color: #343434;
          display: inline-block;
          height: 6.42857em;
          line-height: 6.42857em;
          text-align: center;
          -webkit-transition: background 0.3s ease-in-out;
          transition: background 0.3s ease-in-out; }
          body .container.nav nav ul li a:hover {
            background: url(../img/white-95.png);
            background: rgba(255, 255, 255, 0.95); }
          body .container.nav nav ul li a.nav-1 {
            border-bottom: 0.42857em solid #65838f;
            width: 6.7em; }
          body .container.nav nav ul li a.nav-2 {
            border-bottom: 0.42857em solid #a6b799;
            width: 7.9em; }
          body .container.nav nav ul li a.nav-3 {
            border-bottom: 0.42857em solid #ccc6a5;
            width: 13.7em; }
          body .container.nav nav ul li a.nav-4 {
            border-bottom: 0.42857em solid #b8a075;
            width: 8.3em; }
          body .container.nav nav ul li a.nav-5 {
            border-bottom: 0.42857em solid #8f7759;
            width: 5.95em; }

.navbar-default {
  background: transparent;
  border-radius: 0;
  border: 0;
  margin: 0; }
  .navbar-default .navbar-header {
    background: url(../img/white-80.png);
    background: rgba(255, 255, 255, 0.8);
    -webkit-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out; }
    .navbar-default .navbar-header:hover {
      background: url(../img/white-95.png);
      background: rgba(255, 255, 255, 0.95); }
    .navbar-default .navbar-header .navbar-brand {
      color: #343434;
      font-size: 16px;
      text-transform: uppercase; }
    .navbar-default .navbar-header .navbar-toggle {
      -webkit-transition: background 0.3s ease-in-out;
      transition: background 0.3s ease-in-out; }
      .navbar-default .navbar-header .navbar-toggle:hover, .navbar-default .navbar-header .navbar-toggle:focus {
        background: url(../img/white-95.png);
        background: rgba(255, 255, 255, 0.95); }
  .navbar-default .navbar-collapse .navbar-nav {
    margin: 0 -15px; }
    .navbar-default .navbar-collapse .navbar-nav li.open a {
      background: url(../img/white-95.png);
      background: rgba(255, 255, 255, 0.95);
      -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); }
    .navbar-default .navbar-collapse .navbar-nav li.open + li a {
      -webkit-box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.3);
      box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.3); }
    .navbar-default .navbar-collapse .navbar-nav li.open .dropdown-menu {
      padding: 0; }
      .navbar-default .navbar-collapse .navbar-nav li.open .dropdown-menu a {
        background: url(../img/white-80.png);
        background: rgba(255, 255, 255, 0.8);
        -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
        color: #555;
        -webkit-transition: background 0.3s ease-in-out;
        transition: background 0.3s ease-in-out; }
        .navbar-default .navbar-collapse .navbar-nav li.open .dropdown-menu a:hover {
          background: url(../img/white-95.png);
          background: rgba(255, 255, 255, 0.95); }
    .navbar-default .navbar-collapse .navbar-nav li.active a {
      background: url(../img/white-95.png);
      background: rgba(255, 255, 255, 0.95); }
    .navbar-default .navbar-collapse .navbar-nav li a {
      background: url(../img/white-80.png);
      background: rgba(255, 255, 255, 0.8);
      -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
      color: #555;
      -webkit-transition: background 0.3s ease-in-out;
      transition: background 0.3s ease-in-out; }
      .navbar-default .navbar-collapse .navbar-nav li a:hover {
        background: url(../img/white-95.png);
        background-color: rgba(255, 255, 255, 0.95); }
      .navbar-default .navbar-collapse .navbar-nav li a.nav-1 {
        border-left: 0.42857em solid #65838f; }
      .navbar-default .navbar-collapse .navbar-nav li a.nav-2 {
        border-left: 0.42857em solid #a6b799; }
      .navbar-default .navbar-collapse .navbar-nav li a.nav-3 {
        border-left: 0.42857em solid #ccc6a5; }
      .navbar-default .navbar-collapse .navbar-nav li a.nav-4 {
        border-left: 0.42857em solid #b8a075; }
      .navbar-default .navbar-collapse .navbar-nav li a.nav-5 {
        border-left: 0.42857em solid #8f7759; }

@media (min-width: 1200px) {
  .container {
    width: 1000px; } }

@media (max-width: 992px) {
  body .container-fluid {
    padding: 0 15px; }
    body .container-fluid.banner {
      background-size: cover;
      height: 500px;
      padding: 0; }
    body .container-fluid.our-promise {
      height: auto;
      padding: 2em 0; }
      body .container-fluid.our-promise .col-md-9 {
        width: auto; }
        body .container-fluid.our-promise .col-md-9 .col-md-12 {
          height: auto;
          width: auto; }
    body .container-fluid.services {
      height: auto;
      padding-bottom: 2em; }
      body .container-fluid.services .container .col-md-4 {
        height: 260px; }
        body .container-fluid.services .container .col-md-4 .circle {
          border: 0.7em solid #cbd6d9;
          width: 270px; }
          body .container-fluid.services .container .col-md-4 .circle .cutout {
            bottom: -14px; }
    body .container-fluid.footer {
      background-image: -webkit-linear-gradient(left, #8d9c82, #a6b799 50%, #8d9c82);
      background-image: linear-gradient(to right, #8d9c82, #a6b799 50%, #8d9c82);
      background-repeat: no-repeat;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8D9C82', endColorstr='#FF8D9C82', GradientType=1);
      height: auto; }
      body .container-fluid.footer .container .footer-nav-wrap {
        border-left: none;
        margin-top: 1em; }
        body .container-fluid.footer .container .footer-nav-wrap .footer-nav li a {
          margin-bottom: 0;
          padding: 1em 0 1em 1em; }
  body .container {
    padding: 0 15px; }
    body .container.phone {
      height: 40px; }
      body .container.phone .phone-number {
        background-size: cover;
        font-size: 1.1em;
        right: 150px;
        padding: 0 0.8em 0 0; }
      body .container.phone .btn {
        height: 2.2em;
        line-height: 2.2em;
        right: 0; } }

@media (max-width: 480px) {
  body .container-fluid.banner {
    height: 350px; } }
