@import "bootstrap/_variables.scss";
@import "bootstrap/_mixins.scss";

body {
	font-family: 'Lato', sans-serif;
	margin: 0;

	a {
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}

	.clear {
		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}

	.btn {
		behavior: url(js/PIE.htc);
		border-radius: 0;
		color: #fff;
		display: inline-block;
		text-decoration: none;
		text-transform: uppercase;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
		opacity: 0.8;
		-webkit-backface-visibility: hidden;
		@include transition(all 0.3s ease);
		&:hover {
			color: #fff;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
			opacity: 1;
		}
		&.red {
			background: #b65837;
		}
	}

	.container-fluid {
		margin: 0;
		padding: 0;
		width: 100%;
		&.main {
			min-height: 793px;
			position: relative;
			.banner {
				background: url(../img/girl-on-cliff-banner.jpg) no-repeat center center;
				background-size: cover;
				height: 793px;
				position: absolute;
				top: 0;
				z-index: 0;
			}
		}
		&.about {
			background: url(../img/white-65.png);
			background: rgba(255,255,255,.65);
			bottom: 27px;
			height: 265px;
			position: absolute;
			.col-md-3 {
				padding: 0;
				&.block-1
				{
					.header {
						background: url(../img/about-block-1-bg.png);
					}
				}
				&.block-2
				{
					.header {
						background: url(../img/about-block-2-bg.png);
					}
					.inner {
						.body {
							padding: .4em;
							.carousel-control, .name-container {
								float: left;
							}
							.carousel-control {
								font-size: 14px;
								margin-top: 0.375em;
								-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
								opacity: 1;
								position: static;
								width: auto;
								&:hover {
									cursor: pointer;
								}
								&.left {
									border-top: 1em solid transparent;
									border-bottom: 1em solid transparent;
									border-right: 1em solid rgba(255,255,255,.6);
									margin-right: 2px;
								}
								&.right {
									border-top: 1em solid transparent;
									border-bottom: 1em solid transparent;
									border-left: 1em solid rgba(255,255,255,.6);
									margin-left: 2px;
								}
							}
							.name-container {
								background: rgba(255,255,255,.6);
								color: #191919;
								font-size: 1.14285714em;
								height: 1.6875em;
								line-height: 1.6em;
								margin-top: 0.375em;
								margin-bottom: 0.64285714em;
								text-align: center;
								width: 10.375em;
							}
						}
					}
				}
				&.block-3
				{
					.header {
						background: url(../img/about-block-3-bg.png);
					}
					.inner {
						.body {
							p {
								margin-bottom: 1.2em;
							}
						}
					}
				}
				&.block-4
				{
					.header {
						background: url(../img/about-block-4-bg.png);
					}
					.inner {
						.body {
							padding: 0;
							.question-block {
								background: url(../img/white-40.png);
								background: rgba(255,255,255,.4);
								height: 90px;
								margin-top: 0.71428571em;
								padding: 0.71428571em;
								width: 100%;
								p {
									line-height: 1em;
									margin-bottom: 0.3em;
								}
							}
						}
					}
				}
				.inner {
					margin: 0 auto;
					width: 96%;
					.header {
						height: 4.14285714em;
						margin-left: -1px;
						position: relative;
						top: -15px;
						width: 17.2142857em;
						z-index: 1;
						h3 {
							behavior: url(js/PIE.htc);
							@include box-shadow(0 5px 10px rgba(0,0,0,.5));
							color: #fff;
							font-size: 1.07142857em;
							font-weight: 100;
							height: 3.86666667em;
							line-height: 3.86666667em;
							margin: 0 auto;
							text-align: center;
							width: 14.0666667em;
						}
					}
					.body {
						background: url(../img/about-block-body-bg.png) repeat-x;
						height: 15.8571429em;
						margin: 0 auto;
						padding: 0.71428571em;
						position: relative;
						top: -15px;
						width: 15.0714286em;
						z-index: 0;
						p {
							color: #191919;
							line-height: 1em;
							margin-bottom: 0.57142857em;
						}
						img {
							display: block;
							margin: 0 auto;
						}
					}
				}
			}
		}
		&.pregnancy-care {
			background: url(../img/pregnancy-care-bg.png);
			height: 300px;
			.container {
				height: 100%;
				h2, h4 {
					color: #65838f;
					font-weight: 400;
					text-transform: uppercase;
				}
				h2 {
					margin: 0;
				}
				h4 {
					behavior: url(js/PIE.htc);
					font-size: 1.14285714em;
					margin: 0;
					@include transition(margin .3s ease-in-out);
				}
				.container {
					margin: 0;
					&#pregnancy-care {
						float: left;
						position: relative;
						width: 548px;
						h2 {
							position: absolute;
							top: 30px;
						}
						.col-md-4 {
							background: rgba(184,160,117,0);
							behavior: url(js/PIE.htc);
							height: 100%;
							padding: 90px 0 0 0;
							position: relative;
							@include transition(all .3s ease-in-out);
							text-align: center;
							top: 0;
							&:hover {
								background: rgba(184,160,117,.2);
								padding: 70px 0 0 0;
								img {
									cursor: pointer;
									width: 163px;
								}
							}
							img {
								behavior: url(js/PIE.htc);
								height: auto;
								padding: 1em 0 0 0;
								@include transition(all .3s ease-in-out);
								width: 155px;
							}
						}
					}
					&#annual-exam {
						background: rgba(184,160,117,0);
						behavior: url(js/PIE.htc);
						float: left;
						height: 100%;
						padding: 80px 0 0 0;
						position: relative;
						text-align: center;
						@include transition(all .3s ease-in-out);
						width: 252px;
						&:hover {
							background: rgba(184,160,117,.2);
							padding: 69px 0 0 0;
							img {
								cursor: pointer;
								width: 233px;
							}
						}
						img {
							behavior: url(js/PIE.htc);
							height: auto;
							padding: 1em 0 0 0;
							@include transition(all .3s ease-in-out);
							width: 210px;
						}
					}
					&#menopause {
						behavior: url(js/PIE.htc);
						float: left;
						padding: 90px 0 0 0;
						text-align: center;
						@include transition(all .3s ease-in-out);
						width: 200px;
						&:hover {
							background: rgba(184,160,117,.2);
							padding: 70px 0 0 0;
							img {
								cursor: pointer;
								width: 185px;
							}
						}
						img {
							behavior: url(js/PIE.htc);
							height: auto;
							padding: 1em 0 0 0;
							@include transition(all .3s ease-in-out);
							width: 155px;
						}
					}
				}
			}
		}
		&.our-promise {
			behavior: url(js/PIE.htc);
			@include gradient-horizontal-three-colors(#96825f, #b69e74, 50%, #96825f);
			@include box-shadow(0 2px 5px rgba(0,0,0,.15));
			height: 246px;
			padding: 29px 0 6px 0;
			position: relative;
			.col-md-3 {
				width: 290px;
				img {
					border: 0.64285714em solid #ccc6a5;
				}
			}
			.col-md-9 {
				width: 710px;
				.col-md-12 {
					background: #eaeaea;
					border: 0.64285714em solid #ccc6a5;
					color: #5b5b5b;
					height: 187px;
					padding: 1.07142857em;
					width: 668px;
					h2 {
						margin-top: 0;
						text-transform: uppercase;
					}
				}
			}
			.cutout {
				background: url(../img/our-promise-cutout.png);
				bottom: -4px;
				display: block;
				height: 19px;
				left: 50%;
				margin-left: -18px;
				position: absolute;
				width: 35px;
			}
		}
		&.services {
			background: url(../img/services-bg.png);
			height: 348px;
			.container {
				height: 100%;
				.col-md-4 {
					height: 83.33333%;
					margin-top: 2em;
					.circle {
						background-color: #90a6ad;
						behavior: url(js/PIE.htc);
						border: 1em solid #cbd6d9;
						border-radius: 100%;
						@include box-shadow(0 0 10px rgba(0,0,0,.225));
						@include gradient-radial(#a7b9be, #859da5);
						height: 100%;
						margin: 0 auto;
						padding: 44px 0;
						position: relative;
						width: 290px;
						h4 {
							color: #3c4d54;
							font-size: 1.14285714em;
							font-weight: 500;
							margin-top: 0;
							text-align: center;
							text-transform: uppercase;
						}
						p {
							color: #454545;
							font-size: 0.85714286em;
							font-weight: 400;
							padding: 0 44px;
						}
						.cutout {
							background: url(../img/services-cutout.png) no-repeat;
							bottom: -20px;
							display: block;
							height: 30px;
							left: 50%;
							margin-left: -30px;
							position: absolute;
							width: 61px;
						}
					}
				}
			}
		}
		&.content {
			height: 100%;
			min-height: 100%;
			margin-top: 3.57142857em;
			position: relative;
			.content-bg {
				background: url(../img/inpage-bg.png);
				bottom: 0;
				height: 75.659229%;
				position: absolute;
				z-index: 0;
			}
			.content-area {
				display: table;
				position: relative;
				z-index: 1;
				.row {
					display: table-row;
					.col-md-8 {
						background: #faf9f6;
						display: table-cell;
						float: none;
						padding: 2.85714286em 2em 8.64285714em 2em;
						width: 724px;
						.page-heading {
							color: #65838f;
							margin: 0 0 0.83333333em 0;
							text-transform: uppercase;
						}
						h4 {
							color: #5b5b5b;
							margin: 0 0 1.11111111em 0;
							text-transform: uppercase;
						}
						p {
							font-size: 1.07142857em;
							margin: 0 0 2.33333333em 0;
						}
					}
					.col-md-4 {
						background: #d8ded1;
						display: table-cell;
						float: none;
						padding: 0;
						width: 272px;
						.container-fluid {
							behavior: url(js/PIE.htc);
							border-top: 0.35714286em solid #788b8c;
							border-bottom: 0.35714286em solid #788b8c;
							@include gradient-horizontal-three-colors(#97a68b, #adbca1, 50%, #97a68b);
							color: #fff;
							margin-bottom: 5.71428571em;
							&.sidebar-nav {
								behavior: url(js/PIE.htc);
								border-bottom: none;
								@include gradient-horizontal-three-colors(#788b8c, #99acad, 50%, #788b8c);
								padding-bottom: 0.85714286em;
								ul {
									margin: 0;
									padding: 0;
									li {
										font-size: 1.14285714em;
										list-style: none;
										margin: 0 0 0.25em 0;
										padding: 0;
										text-transform: uppercase;
										&.current-page {
											background: #a6b799;
											margin-bottom: 0;
											a {
												background: rgba(255,255,255,0);
												behavior: url(js/PIE.htc);
												padding: 1em 0 1em 2.25em;
												@include transition(background .3s ease-in-out);
												&:hover {
													background: rgba(255,255,255,.1);
												}
											}
										}
										a {
											background: rgba(255,255,255,0);
											behavior: url(js/PIE.htc);
											color: #fff;
											display: block;
											padding: 0.625em 0 0.625em 2.25em;
											@include transition(background .3s ease-in-out);
											&:hover {
												background: rgba(255,255,255,.1);
											}
										}
									}
								}
							}
							&.phone-block {
								padding: 2.42857143em 0 2.42857143em 1.78571429em;
								h2 {
									font-size: 2em;
									margin: 0;
								}
								h4 {
									font-size: 1.14285714em;
									margin: 0 0 1em 0;
									text-transform: uppercase;
								}
							}
							&.testimonial {
								padding: 1.1875em 2em;
								p {
									font-size: 1.14285714em;
									&.patient-name {
										text-align: right;
										text-transform: uppercase;
									}
									.quote {
										font-family: 'Helvetica', 'Arial', sans-serif;
										font-size: 2em;
										font-weight: 400;
										line-height: 16px;
										vertical-align: middle;
										&.opening {
											margin: 0 .15em 0 -.5em;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		&.footer {
			behavior: url(js/PIE.htc);
			@include gradient-horizontal-three-colors(#687360, #a6b799, 50%, #687360);
			height: 352px;
			.container {
				height: 100%;
				padding: 1.42857143em 0 2.35714286em 0;
				.footer-about {
					h4 {
						color: #3c4d54;
						font-size: 1.14285714em;
						font-weight: 500;
						margin: 1.1875em 0 .5em 0;
						text-transform: uppercase;
					}
					p {
						color: #5b5b5b;
						margin-bottom: 1.5em;
					}
					.footer-subnav {
						margin: 0;
						overflow: hidden;
						padding: 0;
						li {
							border-right: 1px solid #3c4d54;
							float: left;
							line-height: 1em;
							list-style: none;
							margin: 0;
							padding: 0;
							&:first-child {
								a {
									padding-left: 0;
								}
							}
							&:last-child {
								border-right: none;
							}
							a {
								behavior: url(js/PIE.htc);
								color: #556562;
								padding: 0 .5em 0 .5em;
								@include transition(color .3s ease-in-out);
								&:hover {
									color: #3c4d54;
								}
							}
						}
					}
				}
				.footer-nav-wrap {
					border-left: 1px solid #b8c5ad;
					margin-top: 3.07142857em;
					.footer-nav {
						margin: 0;
						overflow: hidden;
						padding: 0;
						li {
							font-weight: 500;
							float: left;
							list-style: none;
							margin: 0 2em 0 0;
							padding: 0;
							text-transform: uppercase;
							a {
								background: url(../img/heart-list-item.png) no-repeat left center;
								behavior: url(js/PIE.htc);
								color: #e1e7dc;
								display: block;
								margin-bottom: 1.5em;
								padding: 1.5em 0 1.5em 1em;
								@include transition(color .3s ease-in-out);
								&:hover {
									color: #fff;
								}
							}
						}
					}
				}
				.copyright {
					color: #7f8778;
					font-weight: 500;
					text-transform: uppercase;
				}
			}
		}
	}

	.container {
		margin: 0 auto;
		padding: 0;
		&:after {
			content: "";
			display: table;
			clear: both;
		}
		&.phone {
			height: 53px;
			position: relative;
			.phone-number {
     			background: url(../img/phone-bg.png) no-repeat;
     			behavior: url(js/PIE.htc);
				color: #474849;
				display: inline-block;
				font-size: 1.64285714em;
				font-weight: 300;
				height: 2.56521739em;
				line-height: 1.91304348em;
				padding: 0 0.82608696em 0 0;
				position: absolute;
				right: 6.34782609em;
				text-align: right;
				text-decoration: none;
				top: 0;
				width: 9.56521739em;
				opacity: 0.8;
				-webkit-backface-visibility: hidden;
				zoom: 1;
				@include transition(all 0.3s ease);
				&:hover {
					opacity: 1;
				}
			}
			.btn {
				height: 3.14285714em;
				line-height: 3.14285714em;
				padding: 0 1.07142857em;
				position: absolute;
				right: 0;
				top: 0;
				width: 
			}
		}
		&.nav {
			position: relative;
			z-index: 1;
			nav {
				.logo {
					behavior: url(js/PIE.htc);
					@include box-shadow(0 0 5px rgba(0,0,0,.5));
					display: inline-block;
					float: left;
					font-weight: 500;
					font-size: 2em;
					margin: 0;
					text-transform: uppercase;
					a {
						background: url(../img/white-80.png);
						background: rgba(255,255,255,.8);
						color: #343434;
						display: block;
						height: 3.21428571em;
						line-height: 3.21428571em;
						text-align: center;
						width: 14.0714286em;
						behavior: url(js/PIE.htc);
						@include transition(background 0.3s ease-in-out);
						&:hover {
							background: url(../img/white-95.png);
							background: rgba(255,255,255,.95);
						}
					}
				}
				ul {
					float: right;
					margin: 0;
					padding: 0;
					li {
						behavior: url(js/PIE.htc);
						@include box-shadow(0 0 5px rgba(0,0,0,.5));
						float: left;
						list-style: none;
						margin: 0 0 0 2px;
						padding: 0;
						text-transform: uppercase;
						a {
							background: url(../img/white-80.png);
							background: rgba(255,255,255,.8);
							behavior: url(js/PIE.htc);
							color: #343434;
							display: inline-block;
							height: 6.42857143em;
							line-height: 6.42857143em;
							text-align: center;
							@include transition(background 0.3s ease-in-out);
							&:hover {
								background: url(../img/white-95.png);
								background: rgba(255,255,255,.95);
							}
							&.nav-1 {
								border-bottom: 0.42857143em solid #65838f;
								width: 6.7em;
							}
							&.nav-2 {
								border-bottom: 0.42857143em solid #a6b799;
								width: 7.9em;
							}
							&.nav-3 {
								border-bottom: 0.42857143em solid #ccc6a5;
								width: 13.7em;
							}
							&.nav-4 {
								border-bottom: 0.42857143em solid #b8a075;
								width: 8.3em;
							}
							&.nav-5 {
								border-bottom: 0.42857143em solid #8f7759;
								width: 5.95em;
							}
						}
					}
				}
			}
		}
	}
}

.navbar-default {
	background: transparent;
	border-radius: 0;
	border: 0;
	margin: 0;
	.navbar-header {
		background: url(../img/white-80.png);
		background: rgba(255,255,255,.8);
		behavior: url(js/PIE.htc);
		@include transition(background .3s ease-in-out);
		&:hover {
			background: url(../img/white-95.png);
			background: rgba(255,255,255,.95);
		}
		.navbar-brand {
			color: #343434;
			font-size: 16px;
			text-transform: uppercase;
		}
		.navbar-toggle {
			behavior: url(js/PIE.htc);
			@include transition(background .3s ease-in-out);
			&:hover, &:focus {
				background: url(../img/white-95.png);
				background: rgba(255,255,255,.95);
			}
		}
	}
	.navbar-collapse {
		.navbar-nav {
			margin: 0 -15px;
			li {
				&.open {
					a {
						background: url(../img/white-95.png);
						background: rgba(255,255,255,.95);
						behavior: url(js/PIE.htc);
						@include box-shadow(0 2px 4px rgba(0,0,0,.3));
					}
					+ li {
						a {
							behavior: url(js/PIE.htc);
							@include box-shadow(0 -2px 4px rgba(0,0,0,.3));
						}
					}
					.dropdown-menu {
						padding: 0;
						a {
							background: url(../img/white-80.png);
							background: rgba(255,255,255,.8);
							behavior: url(js/PIE.htc);
							@include box-shadow(0 0 0 1px rgba(0,0,0,.3));
							color: #555;
							@include transition(background .3s ease-in-out);
							&:hover {
								background: url(../img/white-95.png);
								background: rgba(255,255,255,.95);
							}
						}
					}
				}
				&.active {
					a {
						background: url(../img/white-95.png);
						background: rgba(255,255,255,.95);
					}
				}
				a {
					background: url(../img/white-80.png);
					background: rgba(255,255,255,.8);
					behavior: url(js/PIE.htc);
					@include box-shadow(0 0 0 1px rgba(0,0,0,.3));
					color: #555;
					@include transition(background .3s ease-in-out);
					&:hover {
						background: url(../img/white-95.png);
						background-color: rgba(255,255,255,.95);
					}
					&.nav-1 {
						border-left: 0.42857143em solid #65838f;
					}
					&.nav-2 {
						border-left: 0.42857143em solid #a6b799;
					}
					&.nav-3 {
						border-left: 0.42857143em solid #ccc6a5;
					}
					&.nav-4 {
						border-left: 0.42857143em solid #b8a075;
					}
					&.nav-5 {
						border-left: 0.42857143em solid #8f7759;
					}
				}
			}
		}
	}
}

@media (min-width: $screen-lg-min) {
	.container {
		width: 1000px;
	}
}

@media (max-width: $screen-md-min) {
	body {
		.container-fluid {
			padding: 0 15px;
			&.main {
				min-height: 500px;
				padding: 0;
				.banner {
					height: 500px;
				}
			}
			&.our-promise {
				height: auto;
				padding: 2em 0;
				.col-md-9 {
					width: auto;
					.col-md-12 {
						height: auto;
						width: auto;
					}
				}
			}
			&.services {
				height: auto;
				padding-bottom: 2em;
				.container {
					.col-md-4 {
						height: 260px;
						.circle {
							border: .7em solid #cbd6d9;
							width: 270px;
							.cutout {
								bottom: -14px;
							}
						}
					}
				}
			}
			&.content {
				margin: 0;
				padding: 0;
				.content-bg {
					height: 86%;
				}
				.content-area {
					display: block;
					.row {
						display: block;
						.col-md-8 {
							display: block;
							padding: 2.85714286em 2em 2.85714286em 2em;
							width: auto;
						}
						.col-md-4 {
							display: block;
							padding: 2em 0;
							width: auto;
							.container-fluid {
								margin-bottom: 2em;
								padding: 0;
								text-align: center;
								&.sidebar-nav {
									ul {
										li {
											&.current-page {
												a {
													padding-left: 0;
												}
											}
											a {
												padding-left: 0;
											}
										}
									}
								}
								&.phone-block {
									padding-left: 0;
								}
								&.testimonial {
									text-align: left;
								}
								&:last-child {
									margin-bottom: 0;
								}
							}
						}
					}
				}
			}
			&.footer {
				behavior: url(js/PIE.htc);
				@include gradient-horizontal-three-colors(#8d9c82, #a6b799, 50%, #8d9c82);
				height: auto;
				.container {
					.footer-nav-wrap {
						border-left: none;
						margin-top: 1em;
						.footer-nav {
							li {
								a {
									margin-bottom: 0;
									padding: 1em 0 1em 1em;
								}
							}
						}
					}
				}
			}
		}
		.container {
			padding: 0 15px;
			&.phone {
				height: 40px;
				.phone-number {
					background-size: cover;
					font-size: 1.1em;
					right: 150px;
					padding: 0 .8em 0 0;
				}
				.btn {
					height: 2.2em;
					line-height: 2.2em;
					right: 0;
				}
			}
		}
	}
}

@media (max-width: $screen-xs-min) {
	body {
		.container-fluid {
			&.main  {
				min-height: 440px;
				.banner {
					height: 440px;
				}
			}
			&.services {
				padding: 0 0 2em 0;
				.container {
					padding: 0;
				}
			}
		}
	}
}