@import "bootstrap/_variables.scss";
@import "bootstrap/_mixins.scss";

body {
	font-family: 'Lato', sans-serif;
	margin: 0;

	a {
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}

	.clear {
		&:after {
	    	content: "";
	    	display: table;
	    	clear: both;
	  	}
	}

	.btn {
		border-radius: 0;
		color: #fff;
	  	display: inline-block;
	  	text-decoration: none;
	  	text-transform: uppercase;
	  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	  	opacity: 0.8;
	  	-webkit-backface-visibility: hidden;
	  	@include transition(all 0.3s ease);
	  	&:hover {
	  		color: #fff;
	  		opacity: 1;
	  	}
	  	&.red {
			background: #b65837;
	  	}
	}

	.container-fluid {
		margin: 0;
		padding: 0;
		width: 100%;
		&.banner {
			background: url(../img/girl-on-cliff-banner.jpg) no-repeat center center;
			height: 793px;
			position: relative;
		}
		&.about {
			background: rgba(255,255,255,.65);
			bottom: 27px;
	  		height: 265px;
	  		position: absolute;
	  		.col-md-3 {
	  			padding: 0;
	  			&.block-1
	  			{
	  				.header {
	  					background: url(../img/about-block-1-bg.png);
	  				}
	  			}
	  			&.block-2
	  			{
	  				.header {
	  					background: url(../img/about-block-2-bg.png);
	  				}
	  			}
	  			&.block-3
	  			{
	  				.header {
	  					background: url(../img/about-block-3-bg.png);
	  				}
	  			}
	  			&.block-4
	  			{
	  				.header {
	  					background: url(../img/about-block-4-bg.png);
	  				}
	  			}
	  			.inner {
	  				margin: 0 auto;
	  				width: 96%;
	  				.header {
	  					height: 4.14285714em;
	  					margin-left: -1px;
	  					position: relative;
	  					top: -15px;
						width: 17.2142857em;
						z-index: 1;
						h3 {
							@include box-shadow(0 5px 10px rgba(0,0,0,.5));
							color: #fff;
							font-size: 1.07142857em;
	  						font-weight: 100;
	  						height: 3.86666667em;
	  						line-height: 3.86666667em;
	  						margin: 0 auto;
	  						text-align: center;
	  						width: 14.0666667em;
						}
	  				}
	  				.body {
	  					background: url(../img/about-block-body-bg.png) repeat-x;
	  					height: 15.8571429em;
	  					margin: 0 auto;
	  					position: relative;
	  					top: -15px;
	  					width: 15.0714286em;
	  					z-index: 0;
	  				}
	  			}
	  		}
	  	}
	  	&.pregnancy-care {
	  		background: url(../img/pregnancy-care-bg.png);
	  		height: 300px;
	  	}
	}

	.container {
		margin: 0 auto;
		padding: 0;
		&:after {
	    	content: "";
	    	display: table;
	    	clear: both;
	  	}
	  	&.phone {
	  		height: 53px;
	  		position: relative;
	  		.phone-number {
	  			background: url(../img/phone-bg.png);
	  			color: #474849;
	  			display: inline-block;
	  			font-family: $futura;
	  			font-size: 1.64285714em;
	  			font-weight: 300;
	  			height: 2.56521739em;
	  			line-height: 1.91304348em;
	  			padding: 0 0.82608696em 0 0;
	  			position: absolute;
	  			right: 6.34782609em;
	  			text-align: right;
	  			text-decoration: none;
	  			top: 0;
	  			width: 9.56521739em;
	  			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
			  	opacity: 0.8;
			  	-webkit-backface-visibility: hidden;
			  	@include transition(all 0.3s ease);
			  	&:hover {
			  		opacity: 1;
			  	}
	  		}
	  		.btn {
	  			height: 3.14285714em;
	  			line-height: 3.14285714em;
	  			padding: 0 1.07142857em;
	  			position: absolute;
	  			right: 0;
	  			top: 0;
	  			width: 
	  		}
	  	}
	  	&.nav {
	  		nav {
	  			.logo {
	  				display: inline-block;
	  				float: left;
	  				font-family: $futura;
	  				font-size: 2em;
	  				margin: 0;
	  				text-transform: uppercase;
	  				a {
	  					background: #e6f2f9;
	  					background: rgba(255,255,255,.8);
	  					color: #343434;
	  					display: block;
	  					font-weight: 400;
	  					height: 3.21428571em;
	  					line-height: 3.21428571em;
	  					text-align: center;
	  					width: 14.0714286em;
	  					@include transition(background 0.3s);
	  					&:hover {
	  						background: rgba(255,255,255,.95);
	  					}
	  				}
	  			}
	  			ul {
	  				float: right;
	  				margin: 0;
	  				padding: 0;
	  				li {
	  					float: left;
	  					list-style: none;
	  					margin: 0 0 0 2px;
	  					padding: 0;
	  					text-transform: uppercase;
	  					a {
	  						background: #e6f2f9;
	  						background: rgba(255,255,255,.8);
	  						color: #343434;
	  						display: inline-block;
	  						height: 6.42857143em;
	  						line-height: 6.42857143em;
	  						text-align: center;
	  						@include transition(background 0.3s);
	  						&:hover {
	  							background: rgba(255,255,255,.95);
	  						}
	  						&.nav-1 {
	  							border-bottom: 0.42857143em solid #65838f;
	  							width: 6.7em;
	  						}
							&.nav-2 {
	  							border-bottom: 0.42857143em solid #a6b799;
	  							width: 7.9em;
	  						}
	  						&.nav-3 {
	  							border-bottom: 0.42857143em solid #ccc6a5;
	  							width: 13.7em;
	  						}
	  						&.nav-4 {
	  							border-bottom: 0.42857143em solid #b8a075;
	  							width: 8.3em;
	  						}
	  						&.nav-5 {
	  							border-bottom: 0.42857143em solid #8f7759;
	  							width: 5.95em;
	  						}
	  					}
	  				}
	  			}
	  		}
	  	}
	}
}

.navbar-default {
	background: transparent;
	border-radius: 0;
	border: 0;
	margin: 0;
	.navbar-header {
		background-color: rgba(255,255,255,.8);
		.navbar-brand {
			color: #343434;
			font-family: $futura;
			text-transform: uppercase;
		}
	}
	.navbar-collapse {
		.navbar-nav {
			margin: 0 -15px;
			li {
				&.open {
					a {
						background-color: rgba(255,255,255,.8);
						@include box-shadow(0 2px 2px rgba(0,0,0,.5));
						&:hover {
							background-color: rgba(255,255,255,.8);
						}
					}
					.dropdown-menu {
						padding: 0;
					}
				}
				&.active {
					a {
						background-color: rgba(255,255,255,.95);
					}
				}
				a {
					background-color: rgba(255,255,255,.8);
					@include box-shadow(0 3px 3px rgba(0,0,0,1));
					color: #555;
				}
			}
		}
	}
}

@media (min-width: $screen-lg-min) {
	.container {
		width: 1000px;
	}
}

@media (max-width: $screen-md-min) {
	body {
		.container-fluid {
			padding: 0 15px;
			&.banner {
				background-size: cover;
				height: 500px;
				padding: 0;
			}
		}
		.container {
			padding: 0 15px;
			&.phone {
				height: 40px;
				.phone-number {
					background-size: cover;
					font-size: 1.1em;
					right: 150px;
					padding: 0 .8em 0 0;
				}
				.btn {
					height: 2.2em;
					line-height: 2.2em;
					right: 0;
				}
			}
		}
	}
}

@media (max-width: $screen-sm-min) {

}

@media (max-width: $screen-xs-min) {
	body {
		.container-fluid {
			&.banner {
				height: 350px;
			}
		}
	}
}